In [1]:
import sqlalchemy

url = 'mysql+mysqlconnector://root:root@localhost:3306/videoclub'
mysql = sqlalchemy.create_engine(url)

In [2]:
# Ejemplo
mysql.execute('INSERT INTO users (name, phone, address) VALUES (\'Carmen\', \'678912300\', \'Calle Larios, 3\');' )
mysql.execute("INSERT INTO users (name, phone, address) VALUES ('Agustina', '664332211', 'Calle Virgen Lujan, 9');" )

In [44]:
users = mysql.execute('SELECT * FROM users;')
for user in users:
    print(user.name)

Inmaculada
Daniel
Fernando
Carmen
Agustina
Inma
Inma

In [42]:
# Crea un usuario
def create_user(name, phone, address):
    query="INSERT INTO users (name, phone, address) VALUES ('{0}', '{1}', '{2}');".format(name, phone, address)
    mysql.execute(query)

In [43]:
create_user("Inma", "692060372", "Avenida Paseo de Europa")

In [45]:
# Elimina un usuario
def delete_user(user_id):
    query="DELETE from users where id={0};".format(str(user_id))
    result=mysql.execute(query)
    if result.rowcount<=0:
        print("El usuario con id = {0} no existe".format(user_id))

In [47]:
delete_user(7)

El usuario con id = 7 no existe

In [48]:
# Imprime la información del usuario
def get_user(user_id):
    query="SELECT * from users where id={0};".format(user_id)
    users=mysql.execute(query)
    if(users.rowcount>0):
        for user in users:
            print("- Nombre: {0}\n- Teléfono: {1}\n- Dirección: {2}".format(user.name, user.phone, user.address))
    else:
        print("No hay resultados")

In [50]:
get_user(7)

No hay resultados

In [51]:
# Imprime la información de los usuarios que coincidan con la búsqueda
def search_user(user_name):
    query="SELECT * from users where name like '%{0}%';".format(user_name)
    users=mysql.execute(query)
    if(users.rowcount>0):
        for user in users:
            print("\n############################################################\n")
            print("- Nombre: {0}\n- Teléfono: {1}\n- Dirección: {2}".format(user.name, user.phone, user.address))
        print("\n############################################################\n")
    else:
        print("No hay resultados")

In [54]:
search_user("inma")

############################################################

- Nombre: Inmaculada
- Teléfono: 665443322
- Dirección: Avenida Reino Unido, 2

############################################################

- Nombre: Inma
- Teléfono: 692060372
- Dirección: Avenida Paseo de Europa

############################################################

In [55]:
# Crea una película
def create_movie(title, year):
    query = "INSERT INTO movie (title, year) VALUES ('{0}', {1});".format(title, year)
    mysql.execute(query)

In [56]:
create_movie("Silencio", 2017)

In [57]:
# Elimina una película
def delete_movie(movie_id):
    query = "DELETE from movie where id={0};".format(movie_id)
    result = mysql.execute(query)
    if result.rowcount<=0:
        print("La película con id = {0} no existe".format(movie_id))

In [60]:
delete_movie(4)

La película con id = 4 no existe

In [63]:
# Imprime la información de la película
def get_movie(movie_id):
    query="SELECT * from movie where id={0};".format(movie_id)
    films=mysql.execute(query)
    if(films.rowcount>0):
        for movie in films:
            print("- Título: {0}\n- Año: {1}".format(movie.title, movie.year))
    else:
        print("No hay resultados")

In [64]:
get_movie(100)

No hay resultados

In [65]:
# la información de las películas que coincidan con la búsqueda
def search_movie(movie_title):
    query="SELECT * from movie where title like '%{0}%';".format(movie_title)
    films=mysql.execute(query)
    if(films.rowcount > 0):
        for movie in films:
            print("- Título: {0}\n- Año: {1}".format(movie.title, movie.year))
    else:
        print("No hay resultados")

In [68]:
search_movie("monstruo")

- Título: Un monstruo viene a verme
- Año: 2016

In [69]:
search_movie("caracola")

No hay resultados

In [23]:
# Devuelve un booleano con el estado de la película
def is_movie_available(movie_id):
    query_rental="SELECT * from rental where movie_id={0} AND deadline IS NULL;".format(movie_id)
    query_film = "SELECT * from movie where id={0};".format(movie_id)
    unavailable_films = mysql.execute(query_rental)
    existent_film = mysql.execute(query_film)
    if(existent_film.rowcount > 0 and unavailable_films.rowcount <= 0):
        return True
    else:
        return False

In [92]:
is_movie_available(5)

True

In [73]:
# Crea un alquiler y deberá lanzar una excepción si la película ya está alquilada actualmente
def rent_movie(user_id, movie_id):
    if (is_movie_available(movie_id)):
        query="INSERT INTO rental (user_id, movie_id) VALUES ({0}, {1});".format(user_id, movie_id)
        mysql.execute(query)
    else:
        raise ValueError('La película ya está alquilada')

In [102]:
rent_movie(2, 5)

In [96]:
# Devuelve un alquiler y deberá lanzar una excepción si la película no está alquilada actualmente por ese usuario
# Se da de baja el alquiler actual para esa película y usuario, fecha de entrega igual a fecha actual
def deliver_movie(user_id, movie_id):
    # Si la fecha de entrega está rellena se trata de un alquiler antiguo
    query="SELECT * from rental where user_id={0} AND movie_id={1} AND deadline IS NULL;".format(user_id, movie_id)
    rents = mysql.execute(query)
    if (rents.rowcount <= 0):
        raise ValueError('La película no está alquilada por el usuario indicado')
    else:
        update_query="UPDATE rental SET deadline=now() WHERE deadline IS NULL and user_id={0} and movie_id={1};".format(user_id, movie_id)
        mysql.execute(update_query)

In [103]:
deliver_movie(2,5)

In [104]:
# Imprime la información de todos los alquileres (también nombre de usuarios y de películas)
# señalando además cuántas veces ha alquilado un usuario la misma película
def get_rental_history():
    query="SELECT u.id AS user_id, m.id as movie_id, u.name AS user_name, m.title AS title, count(movie_id) AS number FROM users u JOIN rental r JOIN movie m ON u.id = r.user_id AND m.id=r.movie_id GROUP by user_id, movie_id;"
    rents = mysql.execute(query)
    print("USUARIO  | PELÍCULA  | NÚMERO ALQUILERES")
    if(rents.rowcount > 0):
        for rent in rents:
            print("{0}  | {1}  | {2}".format(rent.user_name, rent.title, rent.number))
    else:
        print("No hay resultados")

In [105]:
get_rental_history()

USUARIO  | PELÍCULA  | NÚMERO ALQUILERES
Inmaculada  | La vida es bella  | 2
Daniel  | Animales fantasticos  | 3